<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>FacebookAppID</key>
	<string>975480925105629</string>
	<key>FacebookClientToken</key>
	<string>8f6e6647f42cf5e29ace7acd1c0cccfa</string>
	<key>FacebookDisplayName</key>
	<string>BabyUltra</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb975480925105629</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>NSUserTrackingUsageDescription</key>
	<string>This identifier will be used to track conversions from Meta Ads and deliver personalized content to improve your experience.</string>
</dict>
</plist>
